.content{
    width: 1500px;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 10px;
}

.border{
    border: 1px solid black;
}

.content-center{
    margin: 0 auto;
    margin-top: 50px;
}

.elem{
    width: 360px;
    height: 190px;
    margin-right: 10px;
}

.elem-text {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    padding-top: 35px;
}

.elem:nth-child(4n) {
    margin-right: 0px;
}

.elem:nth-child(4n + 1) {
   margin-left: 10px;
}

.top {
    width: 100%;
    height: 80px;
    background-color: orange;
}

.user {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    right: 10px;
    top: 15px;
    color:white;
    cursor: pointer;
}

.user p {
    text-align: center;
}

.top-reg {
    width: 60px;
    height: 30px;
    text-align: center;
    color: red;
    position: absolute;
    top: 30px;
    right: 120px;
    cursor: pointer;
}

.form-user {
    width: 400px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 10px;
    position: absolute;
    background-color: orange;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-user > div {
    width: 300px;
}

.form-user > div > input {
    width: 100%;
}

.form-send {
    width: 55px !important;
    height: 20px;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    position: absolute;
    bottom: 16px;
    cursor: pointer;
}

.form-hide {
    display: none;
}

.form-close {
    width: 30px !important;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 26px;
    text-align: center;
    border-radius: 11px;
    cursor: pointer;
}

.form-back {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

.label-name-form {
    position: absolute;
    top: 11px;
    text-align: center;
    color: white;
}