@mixin block($bgcolor : green){
    width: 50px;
    height: 80px;
    border: 1px solid grey;
    background-color: $bgcolor;
}

@mixin item($hover) {
    width: 50px;
    height: 100px;
    border: 1px solid grey;
    &:hover{
        background-color: $hover;
    }
}

@mixin border($border...) {
    border: $border;
}