.content{
    width: 1500px;
    height: 800px;
}

.border{
    border: 1px solid black;
}

.top {
    width: 100%;
    height: 80px;
    background-color: orange;
}

.user {
    width: 67px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    right: 10px;
    top: 15px;
    color:white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user p {
    margin: 0;
    text-align: center;
}

.top-reg {
    width: 60px;
    height: 30px;
    text-align: center;
    color: red;
    position: absolute;
    top: 30px;
    right: 120px;
    cursor: pointer;
}

.top-main {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 14px;
    left: 16px;
}

.top-main a {
    text-decoration: none;
}

/* ///////////////////// */
.myform {
    width: 400px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: orange;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myform > div {
    width: 300px;
}

.myform > div > input {
    width: 100%;
}

.myform-send {
    width: 55px !important;
    height: 20px;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    position: absolute;
    bottom: 16px;
    cursor: pointer;
}

.myform-close {
    width: 30px !important;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 26px;
    text-align: center;
    border-radius: 11px;
    cursor: pointer;
}

.myform-back {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

.myform-label-name-form {
    position: absolute;
    top: 11px;
    text-align: center;
    color: white;
}

.menu-user {
    width: 200px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 5px;
    position: absolute;
    top: 6px;
    right: 2px;
}
/* ////////////////////// */

.menu-top {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 14px;
    left: 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-top div {
    width: 50px;
    height: 25px;
    text-align: center;
}

.menu-top div:hover {
    border-bottom: 2px solid yellow;
    z-index: 1;
}

.menu-top a {
    text-decoration: none;
}

.form-hide {
    display: none;
}

.content-center{
    margin: 0 auto;
    margin-top: 50px;
}

hr {
    box-sizing: content-box;
    width: 350px;
    height: 2px;
    background-color: black;
    overflow: visible;
    /* color: black; */
    position: absolute;
    top: 28px;
    /* right: 0; */
    left: 0;
}

.painUpLine {
    border-bottom: 2px solid white;
    z-index: 1;
}