table.time {
    width: 300px;
    border-spacing:0;
    border-collapse: collapse;
    
}

table.time tr {
    padding: 0;
}

table.time th {
    height: 20px;
}

table.time td {
    height: 20px;
}

table.time td, 
table.time th {
    border: 1px solid grey;
}