table.time {
    width: 300px;
    border-spacing:0;
    border-collapse: collapse;
    
}

table.time tr {
    padding: 0;
}

table.time th {
    height: 20px;
}

table.time td {
    height: 20px;
}

table.time td, 
table.time th {
    border: 1px solid grey;
    text-align: center;
}

.content-time {
    display: flex;
}

.content-time div {
    border: 1px solid black;
}

.table {
}

.add {
    flex-grow: 1;
    text-align: center;
    border: 0 !important;
}

.add span {
    font-size: xx-large;
    font-weight: bolder;
    color: lightblue;
}

.graph {
   flex-grow: 6;
   background-color: green;
   min-height: 500px;
}
