table.time {
    width: 300px;
    border-spacing:0;
    border-collapse: collapse;
    
}

table.time tr {
    padding: 0;
}

table.time th {
    height: 20px;
}

table.time td {
    height: 20px;
}

table.time td, 
table.time th {
    border: 1px solid grey;
    text-align: center;
}

.content-time {
    display: flex;
}

.content-time div {
    border: 1px solid black;
}

.table {
}

.add {
    flex-grow: 1;
    text-align: center;
    border: 0 !important;
}

.add span {
    font-size: xx-large;
    font-weight: bolder;
    color: lightblue;
}

.graph {
   flex-grow: 6;
   background-color: green;
   min-height: 500px;
}

.myform {
    width: 400px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: orange;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myform > div {
    width: 300px;
}

.myform > div > input {
    width: 100%;
}

.myform-send {
    width: 55px !important;
    height: 20px;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    position: absolute;
    bottom: 16px;
    cursor: pointer;
}

.myform-close {
    width: 30px !important;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 26px;
    text-align: center;
    border-radius: 11px;
    cursor: pointer;
}

.myform-back {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

.myform-label-name-form {
    position: absolute;
    top: 11px;
    text-align: center;
    color: white;
}